<div>
  <div
    class="hero min-h-screen relative"
    style="background-image: url('<%= asset_path('local.image.jpeg') %>'); background-size: cover; background-position: center;"
  >
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content absolute bottom-0 right-0 p-6 text-neutral-content text-center">
      <div class="max-w-md">
        <p class="mb-5 text-3xl font-semibold">
          地元民が厳選した、<br>
          リアルなスポット共有サービス
        </p>
      </div>
    </div>
  </div>


  <div class="hero bg-base-200 py-10" style="background-color: #DDEBE1;">
  <div class="hero-content flex-col lg:flex-low lg:flex-row gap-8">
    <%= image_tag "map.japan.png", class: "max-w-sm rounded-lg shadow-2xl" %>
    <div>
      <h1 class="text-5xl font-bold" style="color: #4C7A67;">LocaMapについて</h1>
      <p class="py-6 text-black">
      投稿できるのは、自分の地元だけ。
      <br>
      <br>
      日本各地のグルメ・お土産・観光地など、住んでいるからこそ知っている 
      <br>
     「本当のおすすめ」を投稿してください。
      <br>
      <br>
      次の旅は、リアルな声を頼りに楽しもう。
      </p>
    </div>
  </div>
</div>

  <%= render "shared/search_form", q: @q, url: posts_path %>
  <h2 class="mt-20"><%= render "posts/post_list", posts: @posts %></h2>

  <div class="pagenation mt-4">
   <%= paginate @posts %>
  </div>
</div>
