<% if @posts.any? %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @posts.each do |post| %>
      <div class="card bg-base-100 shadow-xl">
        <% if post.image.present? %>
          <figure><%= image_tag post.image.url, class: "w-full h-48 object-cover" %></figure>
        <% else %>
          <figure><%= image_tag asset_path('noimage.png'), class: "w-full h-48 object-cover" %></figure>
        <% end %>
        <div class="card-body">
          <h2 class="card-title text-lg">
            <%= link_to post.title, post_path(post), class: "hover:underline text-primary" %>
          </h2>
          <div class="text-sm text-gray-500 mt-2">
            <p><%= post.prefecture.name %></p>
            <p><%= post.category.name %></p>
            <p>投稿者：<%= post.user.name %></p>
            <%= render 'posts/like_buttons', { post: post } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-500">まだ投稿がありません。</p>
<% end %>
