<div class="container mx-auto pt-10 px-4">
  <div class="mb-6 mx-auto max-w-screen-md">

    <article class="card bg-base-100 shadow-md p-6 space-y-6">
      <div class="flex flex-col md:flex-col gap-6">
        <div class="flex justify-between items-center mt-4">
          <ul class="flex gap-4 text-sm text-gray-500 mt-1">
            <li><%= @post.category.name %></li>
            <li><%= @post.prefecture.name %></li>
          </ul>

          <% if @post.user == current_user %>
            <div class="flex space-x-2">
              <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}", class: "btn btn-sm btn-outline btn-primary" do %>
                <i class="bi bi-pencil-fill"></i>編集
              <% end %>

              <%= link_to post_path(@post), id: "button-delete-#{@post.id}", class: "btn btn-sm btn-outline btn-primary", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                <i class="bi bi-trash-fill"></i>削除
              <% end %>
            </div>
          <% end %>
        </div>
        
        <div>
          <h3 class="text-2xl font-semibold"><%= @post.title %></h3>
        </div>
        <div>
          <%= image_tag @post.image.url, width: "300", height: "200", class: "rounded-lg w-full h-auto" %>
        </div>

        <div>
          <ul class="flex flex-wrap gap-2 text-sm text-gray-500 mt-1">
            <li><%= "by #{@post.user.name}" %></li>
            <li><%= l @post.created_at, format: :long %></li>
            <%= render 'posts/like_buttons', { post: @post } %>
          </ul>
        </div>
      </div>

      <div class="mt-4 prose">
        <%= simple_format(@post.description) %>
        <ul class="flex flex-wrap gap-2 text-sm text-gray-500 mt-1 pb-3 border-b">
          <li><%= @post.address %></li>
        </ul>
      </div>

      <%= render @comments %>
      <%= render 'comments/form', comment: @comment, post: @post %>
    </article>
  </div>
</div>
